*
  margin: 0rem
  padding: 0rem
  box-sizing: border-box
  color: var(--sec-font-color)
body
  background: var(--body-bg-color)
  font-family: 'Montserrat', sans-serif
.wrapper
  width: calc( 100% - $sidebarWidth )
  margin-left: auto
  height: 200vh
  padding: 1rem
  @include mainTransition
  &.sidebar-visible
    width: calc( 100% - $sidebarWidthOpen )
  &.sidebar-over
    width: 100%

::-webkit-scrollbar
  width: 6px
::-webkit-scrollbar-track
  background: #f1f1f100
::-webkit-scrollbar-track
  background: #f1f1f100

::-webkit-scrollbar-track
  background: #f1f1f1

::-webkit-scrollbar-thumb
  background: #888
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #555
