$sidebarWidth: 70px
$sidebarWidthOpen: 250px
// color
.light-theme
  --main-font-color: 255, 255, 255
  --sec-font-color: 94, 88, 115
  --main-bg-color: 255, 255, 255
  //- body bg color
  --body-bg-color: 244, 245, 245
.dark-theme
  --main-font-color: 255, 255, 255
  --sec-font-color: 208, 210, 214
  --main-bg-color: 40, 48, 70
  //- body bg color
  --body-bg-color: 22, 29, 49
