.toolbar
  position: sticky
  top: 0px
  left: 0
  right: 0
  width: 100%
  z-index: 4
  .content
    @include mainTransition
    @include mainBoxShadow
    background: rgb(var(--main-bg-color))
    border-radius: 6px
    padding: 0.5rem
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    .tooltips
      flex: 1 1 auto
      display: flex
      align-items: center
      justify-content: flex-start
      flex-direction: row-reverse
      gap: 10px
      .user-info
        display: flex
        flex-direction: row-reverse
        justify-content: flex-start
        align-items: center
        text-align: right
        color: rgb(var(--sec-font-color))
        font-size: 14px
        .user-info-img-container
          position: relative
          height: fit-content
          display: flex
          img
            border: 1px solid rgb(var(--main-bg-color))
            width: 40px
            height: 40px
            object-fit: cover
            border-radius: 50%
          &::after
            content: ""
            position: absolute
            bottom: 2px
            right: 0
            width: 10px
            line-height: inherit
            height: 10px
            border-radius: 50%
            border: 2px solid rgb(var(--main-bg-color))
            background: #28c76f
            z-index: 55
        .user-info-desc
          margin-right: 4px
          .user-name
            font-weight: 600
            text-transform: capitalize
          .user-title
            opacity: 0.8
            text-transform: lowercase
      .theme-toggler
        display: flex
        align-items: center
        cursor: pointer
      .logout-button
        width: 30px
        height: 30px
        button
          border-radius: 50%
          background: #df1b1b29
          align-items: center
          justify-content: center
          cursor: pointer
          display: flex
          border: none
          outline: none
          padding: 5px
          @include mainTransition
          .icon
            margin: 0rem
            svg
              stroke: #df1b1b
          &:hover
            @include mainBoxShadow

    .sidebar-toggler
      background: transparent
      outline: none
      border: none
      display: flex
      align-items: center
      display: none
      @media screen and ( max-width: 850px )
        display: flex
