.board-page
  margin-top: 1rem
  min-height: 88vh
  .column-container
    min-height: 80vh
    display: flex
    align-items: flex-start
    gap: 10px
    overflow-y: hidden
    overflow-x: scroll
    &::-webkit-scrollbar
      width: 10px
      height: 10px

    &::-webkit-scrollbar-thumb
      background: #00418b
      border-radius: 7px

    &::-webkit-scrollbar-track
      background: #ffffff23
      backdrop-filter: blur(20px)
      border-radius: 7px
    .column
      min-width: 350px
      .tasks-list
        .task
          @include mainBoxShadow
          @include mainTransition
          background: rgba(var(--main-bg-color), 1 )
          border-radius: 5px
          padding: 5px 10px
          margin-bottom: 0.6rem
          display: flex
          flex-direction: column
          cursor: pointer
          position: relative
          overflow: hidden
          &:hover
            transform: scale(0.98)
            .delete-task
              transform: translateX(0%)
              pointer-events: all
          .title,.desc
            font-weight: 600
            text-transform: capitalize
            min-width: 100%
            display: block
          .desc
            margin: 0.4rem 0rem
            font-weight: 400
            font-size: 13px
          .delete-task
            @include mainTransition
            transition-delay: 500ms
            position: absolute
            top: 0
            right: 0
            bottom: -1px
            background: #df1b1b29
            display: flex
            align-items: center
            justify-content: center
            padding: 0px 12px
            z-index: 2
            cursor: pointer
            transform: translateX(100%)
            pointer-events: none
            .icon-wrapper
              .icon
                margin: 0rem
                svg
                  stroke: #df1b1b !important

      .add_task_input,.add_column_input
        background: transparent
        padding: 10px
        outline: none
        border: none

  .task-bg
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 999
    background: #212529a8
    display: flex
    align-items: center
    justify-content: center
    .task
      @include mainBoxShadow
      background: rgba(var(--main-bg-color), 1 )
      border-radius: 5px
      padding: 5px 10px
      margin-bottom: 0.6rem
      display: flex
      flex-direction: column
      min-width: 300px
      .title,.desc
        font-weight: 600
        text-transform: capitalize
        min-width: 100%
        display: block
      .desc
        margin: 0.4rem 0rem
        font-weight: 400
        font-size: 13px
